<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Reinholds Bunde">

    <title>Tax Calculator by Reinholds Bunde</title>

    <link rel="icon" href="/img/favicon.ico">
</head>

<body>
<div id="calculator">
    <div class="container">
        <form action="">
            <h1>The Tax-culator</h1>
            <p>Calculate your taxes and income</p>

            <table>
                <tr>
                    <td>
                        <label for="day-rate">Daily Rate</label>
                        <input id="day-rate" type="number" name="dayRate" class="currency" v-model.number="dayRate"/>
                        <input type="range" min="100" max="1000" step="10" class="currency slider"
                               v-model.number="dayRate">
                    </td>
                    <td>
                        <label for="weeks-worked">Weeks worked</label>
                        <input id="weeks-worked" type="number" name="weeks-worked" class="currency"
                               v-model.number="weeksWorked"/>
                        <input type="range" min="0" max="52" step="1" class="currency slider"
                               v-model.number="weeksWorked">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button @click="saveDayRate">Save</button>
                        <button @click="resetDayRate">Reset</button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

            <h3>Expenses</h3>
            <table>
                <tr>
                    <td>
                        <label for="day-expense">Daily</label>
                        <input id="day-expense" type="number" name="day-expense" class="currency"
                               v-model.number="dayExpense"/>
                        <input type="range" min="0" max="100" step="1" class="currency slider"
                               v-model.number="dayExpense">
                    </td>
                    <td>
                        <label for="month-expense">Monthly</label>
                        <input id="month-expense" type="number" name="month-expense" class="currency"
                               v-model.number="monthExpense"/>
                        <input type="range" min="0" max="1000" step="1" class="currency slider"
                               v-model.number="monthExpense">
                    </td>
                    <td>
                        <label for="year-expense">Yearly</label>
                        <input id="year-expense" type="number" name="year-expense" class="currency"
                               v-model.number="yearExpense"/>
                        <input type="range" min="0" max="100000" step="10" class="currency slider"
                               v-model.number="yearExpense">
                    </td>
                </tr>
            </table>
            <h3>Split</h3>
            <table>
                <tr>
                    <td>
                        <label for="dividends">Dividends</label>
                        <input id="dividends" type="number" name="dividends" class="currency"
                               v-model.number="dividends"/>
                        <input type="range" min="0" max="200000" step="1000" class="currency slider"
                               v-model.number="dividends" disabled>
                    </td>
                    <td>
                        <label for="salary">Salary</label>
                        <input id="salary" type="number" name="salary" class="currency" v-model.number="salary"/>
                        <input type="range" min="0" max="200000" step="10" class="currency slider"
                               v-model.number="salary">
                    </td>
                </tr>
            </table>

            <!--<label for="year">Year</label>-->
            <!--<select <label id="year">Year</label>  name="year" v-model="year">-->
            <!--<option value="1718">2017/2018</option>-->
            <!--<option value="1819" selected >2018/2019</option>-->
            <!--</select>-->
        </form>

        <label for="scale">Period</label>
        <select id="scale" name="scale" v-model="scale">
            <option value="1" selected>Yearly</option>
            <option value="12">Monthly</option>
            <option value="52">Weekly</option>
            <option value="365">Daily</option>
        </select>

        <table>
            <tr>
                <td>
                    <div class="payment">Company</div>
                    <div class="payment">Income: &pound;{{ numFormat(perYear/scale) }}</div>
                    <div class="payment">Net: &pound;{{ numFormat(perYearNet/scale) }}</div>
                    <div class="payment">Expenses: &pound;{{ numFormat(yearlyExpense/scale) }}</div>
                    <div class="payment">employerNI: &pound;{{ numFormat(employerNI/scale) }}</div>
                </td>
                <td>
                    <div class="payment">Personal</div>
                    <div class="payment">Salary: &pound;{{ numFormat(salary/scale) }}</div>
                    <div class="payment">Dividends: &pound;{{ numFormat(dividends/scale) }}</div>
                    <div class="payment">Income Before Tax: &pound;{{ numFormat(incomeBeforeTax/scale) }}</div>
                    <br/>
                    <div class="payment">Salary Tax: &pound;{{ numFormat(salaryTax/scale) }}</div>
                    <div class="payment">Salary NI: &pound;{{ numFormat(salaryNI/scale) }}</div>
                    <div class="payment">Dividends Tax: &pound;{{ numFormat(dividendsTax/scale) }}</div>
                    <br/>
                    <div class="payment">Salary After Tax: &pound;{{ numFormat(salaryAfterTax/scale) }}</div>
                    <div class="payment">Dividends Taxed: &pound;{{ numFormat(dividendsTaxed/scale) }}</div>
                    <div class="payment">Income After Tax: &pound;{{ numFormat(incomeAfterTax/scale) }}</div>

                </td>
            </tr>
        </table>
    </div>
</div>
<script src="js/tax/script.js"></script>
<link rel="stylesheet" type="text/css" href="css/tax/style.css">
</body>

